In [49]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [50]:
df1=pd.read_csv("C:/Users/asus/Desktop/churn.csv")

In [51]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,1115,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,1177,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,2040,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,289,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,1822,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [52]:
df1=df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [53]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()

df1['Geography']=le.fit_transform(df['Geography'])
df1['Gender']=le.fit_transform(df['Gender'])

In [54]:
df1.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [55]:
from sklearn.metrics import accuracy_score
x,y=df1.iloc[:,:-1],df.iloc[:,-1]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=30)

In [56]:
1# Decision tree
from sklearn.tree import DecisionTreeClassifier
model_DT = DecisionTreeClassifier(max_depth=20,min_samples_split=5,max_leaf_nodes=10) # After max depth 6 the acc is cons
model_DT.fit(x_train,y_train)
y_pred4 = model_DT.predict(x_test)
print("Accuaracy on train dataset:",round(model_DT.score(x_train,y_train)*100,2))
print("Accuaracy on train dataset :",round(model_DT.score(x_test,y_test)*100,2))
print('accuracy_score:',round(accuracy_score(y_test, y_pred4)*100,2))

Accuaracy on train dataset: 85.66
Accuaracy on train dataset : 84.33
accuracy_score: 84.33

model_DT.predict()

In [57]:
df1.shape

(10000, 11)

In [ ]:
model_DT.predict([619,0,0,42,2,0.00,1,1,1,101348.88,1])